@import "~react-toolbox/lib/colors";

$color-primary: rgb(253, 145, 37);
$color-primary-dark: rgb(253, 145, 37);
$color-accent: $palette-blue-grey-600;
$color-accent-dark: $palette-blue-grey-700;
$color-primary-contrast: $color-dark-contrast;
$color-accent-contrast: $color-dark-contrast;