@import '../globals';

hgroup { 
	text-align:center;
	margin-top: 8rem;

  h3 {
    color: $appbar-color;
  }

  .subtitle {
    margin-top: 1rem;
    color: $coral;
    font-weight: 200;
  }
}

.group { 
	position: relative;
	margin-bottom: 2rem;
}

.primaryColor {
  color: $color-primary !important;
}
.dashboardCard {
  width: 40rem;
  min-height: 40rem;
  margin: 4em auto;
  padding: 6em 2em 4em 2em;
  box-shadow: rgba(0, 0, 0, 0.156863) 0px 3px 10px, rgba(0, 0, 0, 0.227451) 0px 3px 10px!important;
}

.cardActions {
  padding-top: 2rem;
  justify-content: flex-end;
}

.customLabel {
  color: rgba(143, 143, 143, 1) !important;
  font-weight: 400 !important;
  letter-spacing: 0.02rem !important;
  margin-bottom: -0.3rem !important;
}

.customLinkDiv {
  text-align: right;
  font-size: .92857143em;
}

.customCheckBoxLabel {
  color: rgba(143, 143, 143, 1) !important;
  font-weight: 400 !important;
  letter-spacing: 0.02rem !important;
  margin-top: -1.4rem !important;
}

.buttonDiv {
  text-align: center !important;
  margin-top: 65px !important;

  .button{
    font-size: inherit !important;
    width: 58% !important;
    color: #ffffff !important;
    background: rgb(253, 145, 37) !important;
    fontWeight: 500 !important;
  }
}